<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="styles.css" />

    <title>Gato</title>
  </head>

  <body>
    <div id="app">
      <div class="menu" :class="{minimized: !mostrar}">
        <div class="burger" @click="mostrar=!mostrar;">
          <div class="lineas"></div>
          <div class="lineas"></div>
          <div class="lineas"></div>
        </div>
      </div>
      <transition name="slide">
        <div class="menu2" v-if="mostrar">
          <div class="JuegosEnMenu">
            <li
              class="juegos"
              v-for="nombre in juego"
              @click="ver(nombre.nombre)"
            >
              {{nombre.nombre}}
            </li>
          </div>
          <div class="opciones">
            <i class="material-icons icon">logout</i>
            <i class="material-icons icon">help</i>
            <i
              class="material-icons icon"
              @click="MostrarAjustes=!MostrarAjustes"
              >settings</i
            >
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="MostrarAjustes">
          <div class="AjustesVen">
            <div class="SettingsHeader">AJUSTES</div>
            <div class="SettingsBody"></div>
            <div class="SettingsConfirmation">
              <button class="Cancel" @cllick="MostrarAjustes=!MostrarAjustes">
                CANCELAR
              </button>
              <button class="Save">GUARDAR</button>
            </div>
          </div>
          <div class="NegroTodo" @click="MostrarAjustes=!MostrarAjustes"></div>
        </div>
      </transition>

      <div class="juego">
        <div class="titu">
          <h1 class="tit">GATO BELLO</h1>
        </div>
        <div class="cont">
          <div class="botonn">
            <button @click="gat(0)" class="boton">{{gato[0]}}</button>
            <button @click="gat(1)" class="boton">{{gato[1]}}</button>
            <button @click="gat(2)" class="boton">{{gato[2]}}</button>
          </div>
          <div class="botonn">
            <button @click="gat(3)" class="boton">{{gato[3]}}</button>
            <button @click="gat(4)" class="boton">{{gato[4]}}</button>
            <button @click="gat(5)" class="boton">{{gato[5]}}</button>
          </div>
          <div class="botonn">
            <button @click="gat(6)" class="boton">{{gato[6]}}</button>
            <button @click="gat(7)" class="boton">{{gato[7]}}</button>
            <button @click="gat(8)" class="boton">{{gato[8]}}</button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue.js"></script>
</html>
