@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  background: #1f253d;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  top: 0;
  margin: 0;
}
.tit {
  font-size: 37px;
  text-align: center;
  font-weight: 800;
}
.cont {
  width: 600px;
  border-radius: 20px;
  margin: auto;
  background-color: black;
  border: 5px solid #11a8ab;
}

.boton {
  cursor: pointer;
  margin: 5px;
  background-color: #394264;
  color: white;
  width: 33%;
  height: 150px;
  max-height: 150px;
  border: none;
  outline-style: none;
  text-decoration-color: none;
  border-radius: 10px;
  font-size: 70px;
}
.boton:hover {
  background-color: #394968;
}
.titu {
  background-color: #11a8ab;
  margin: auto;
  width: 400px;
  border-radius: 20px;
}
.tit {
  font-weight: bold;
}
.botonn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.menu,
.menu2 {
  transition: all 1s ease;
  position: absolute;
  width: 230px;
  height: 50px;
  top: 0;
  left: -5px;
  border: solid #11a8ab 5px;
  background-color: #161a2b;
}
.menu2 {
  top: 55px;
  height: 89%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
}
.juegos {
  border-bottom: solid rgb(194, 194, 194) 1px;

  list-style-type: none;

  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  padding: 10px;

  font-size: 25px;
  text-align: center;
}
.burger {
  position: relative;
  text-align: right;
  cursor: pointer;
  padding: 5px;
  background-color: #10131f;
  border-top-right-radius: 20px;
  transition: all 1.5s ease;
}
.minimized {
  transform: translateX(-170px);
  opacity: 0.75;
}

.lineas {
  width: 35px;
  height: 5px;

  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  margin-left: 80%;

  border-radius: 5px;
}
.Mete {
  background-color: white;
}

.juegos:hover {
  background-color: #11a8ab;
}
.opciones {
  background-color: #101425;
  border-bottom: 2px solid black;
  position: absolute;
  height: 50px;
  width: 100%;
  border-bottom-right-radius: 26px;
  bottom: 0;
}
.icon {
  cursor: pointer;
  width: 31%;
  text-align: center;
  padding-top: 7px;
  font-size: 40px;
}
.icon:hover {
  color: rgb(167, 164, 164);
}
.AjustesVen {
  position: absolute;
  box-shadow: 10px 10px 10px 5px black;
  width: 30%;
  height: 80%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border-radius: 30px;
  z-index: 200;
  border: 4px solid #11a8ab;
}

.NegroTodo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}
.SettingsHeader {
  height: 8%;
  background-color: #1f253d;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  text-align: center;
  padding-top: 9px;
  font-weight: bold;
}
.SettingsBody {
  height: 77%;
  background-color: #394264;
}
.SettingsConfirmation {
  display: flex;
  justify-content: right;
  height: 13%;
  width: 100%;
  background-color: #1f253d;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}
.Save,
.Cancel {
  position: relative;
  width: 100px;
  height: 40px;
  outline-style: none;
  text-decoration-color: none;
  align-content: center;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #11a8ab;
  color: white;
  font-size: 15px;
  right: 0;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.Cancel {
  background-color: #da1456;
}
.Save:hover {
  background-color: #10898b;
}
.Cancel:hover {
  background-color: #ac1044;
}

@media only screen and (max-width: 600px) {
  .cont {
    width: 95%;
  }
  .titu {
    width: 200px;
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: 1s;
}
.slide-enter,
.slide-leave-to {
  transform: translate(-100%, 0);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
